body {
    background-color: #B7C4C4;
    font-family: "Lora", serif;
    margin: 0;
}

.header img {
   height: 400px;
   width: 100%;
}

.summer21 {
    position: absolute;
    top: 200px;
    right: 32px;
}

.summer21 h1 {
    font-size: 96px;
    color: #B7C4C4;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 150px 100px;
}

.container h2 {
    font-size: 28px;
    margin-left: 24px;
}

.container img {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.container p {
    height: 200px;
    width: 550px;
    font-size: 18px;
    margin-left: 24px;
}

img {
    max-width: 100%;
}

.container-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 300px 100px 100px 100px;
}

.container-btns button {
    font-family: "Lora", serif;
    font-size: 18px;
    background-color: white;
    background: rgba(0, 0, 0, 0.2);
    color: black;
    padding: 5px 30px;
    border-color: black;
    border-width: 0.1px;
    border-radius: 10px;
    cursor: pointer;   
}

.container-btns button:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.reflection {
    margin: 100px 250px -200px 250px;
}

.reflection h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
}

.reflection p {
    font-size: 18px;
    text-align: center;
    word-spacing: 1px;
}
.reflection p a {
    text-decoration: underline;
}





@media screen and (max-width: 600px) {
    .header img {
        height: 150px;
        width: 600px;
    }
    .summer21 h1 {
        font-size: 36px;
    }
    .summer21 {
        top: 80px;
        right: 10px;
    }
    .container h2 {
        font-size: 14px;
        margin-left: 10px;
    }
    .container p {
        width: 180px;
        font-size: 10px;
        margin-left: 10px;
    }
   .flex-container {
       margin-top: 50px;
   }
   .container-btns {
       flex-direction: column;
        margin-top: 0;
   }
   .container-btns button {
        margin: 5px;
        width: 100%;
        font-size: 12px;
   }
   .reflection {
       margin: 24px;
   }
   .reflection p {
       font-size: 10px;
   }
   .reflection h1 {
       font-size: 14px;
   }
}



@media screen and (min-width: 601px) and (max-width: 959px) {
    .header img {
        height: 250px;
        width: 960px;
    }
    .summer21 h1 {
        font-size: 64px;
    }
    .summer21 {
        top: 120px;
        right: 24px;
    }
    .container h2 {
        font-size: 24px;
        margin-left: 20px;
    }
    .container p {
        width: 400px;
        font-size: 16px;
        margin-left: 20px;
    }
   .flex-container {
       margin-top: 100px;
   }
   .container-btns {
        flex-direction: column;
        margin-top: 0;
}
    .container-btns button {
        margin: 10px;
        font-size: 16px;
    }
    .reflection {
        margin: 100px;
    }
    .reflection p {
        font-size: 12px;
    }
    .reflection h1 {
        font-size: 24px;
    }
}






