body {
    background-color: #B7C4C4;
    font-family: "Montserrat", serif;
    margin: 0;
}


.header img {
   background: cover;
   width: 100%;
   height: 400px;
}

.summer21 {
    position: absolute;
    top: 100px;
    right: 500px;

}

.summer21 h1 {
    font-size: 96px;
    color: #B7C4C4;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container {
    display: block;
    justify-content: center;
    float: left;
    margin: 150px;
    width: 30%;  
}

.container h2 {
    font-size: 24px;
    margin: 12px;
}

.container img {
    width: 100%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.container p {
    font-size: 14px;
    margin: 24px;
}

.container-btns button {
    font-family: "Montserrat", serif;
    background-color: white;
    background: rgba(0, 0, 0, 0.2);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container-btns button:hover {
    text-decoration: underline;
}

.button1 {
    margin-left: 300px;
    margin-bottom: 175px;
    font-size: 18px;
}

.button2 {
    margin-left: 550px;
    margin-bottom: 175px;
    font-size: 18px;
}





.button4 {
    margin-left: 700px;
    margin-bottom: 50px;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
}
